.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background: rgba(30, 30, 30, 0.5);
  .popupInner {
    max-width: calc(100% - 64px);
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .popupHeader h2 {
      margin: 0;
      padding: 20px;
      line-height: 26px;
      border-bottom: 1px solid #f5f5f5;
      font-weight: 400;
      font-size: 20px;
    }
    .popupContent {
      padding: 20px 20px 0 20px;
    }
    .popupFooter {
      display: flex;
      gap: 30px;
      padding: 0 20px 30px 20px;
    }
  }
}
@media (width <= 768px) {
  .popupFooter {
    gap: 20px !important;
  }
}
