@import '../../../../styles/colors.scss';

.product_list{
  .row{
    display: flex;
    margin-bottom: 20px;
    align-items: end;
    justify-content: space-between;
    .searchForm{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: end;
      .search{
        display: flex;
        height: 38px;
        width: 38px;
        background-color: $background-color-green;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .iconSearch{
          height: 38px;
        }
      }
    }
  }
}