$primary-color: #0070f3;
$text-color: #333;
$border-color: #ccc;
$focus-color: #0070f3;


$background: #F5F5F5;//background
$background-dark: #1E1E1E;//

$background-color: #FFFFFF;
$background-color-dark: #292929;

$background-color-green: #28B95E;